<p>searchid works!</p>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="videos">
    <section class="video-section">
      <article class="video-container">
        <a href="#" class="thumbnail" data-duration="12:24">
       <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />  
   <!--       <video class="library" controls preload="auto" data-config="some-js-object-here">
        <source src="video-url.mp4" type='video/mp4'>
      </video>-->
        </a>
        <div class="video-bottom-section">
          <a href="#">
            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
          </a>
          <div class="video-details">
            <a href="#" class="video-title">{{recipe_data.videoTitle}}</a>
            <a href="#" class="video-channel-name">{{recipe_data.channelName}}</a>
            <div class="video-metadata">
              <span>{{recipe_data.views}}</span>
              •
              <span>{{recipe_data.time}}</span>
            </div>
          </div>
        </div>
    </article>
        </section>
        </div>
     
</body>
</html>

