<h1 class="my-4">Menu</h1>
<div class="font-style">
<div class="list-group">
  <div class="bg-light border-right" id="sidebar-wrapper">
      
      <div class="list-group list-group-flush">
        
        <a href="/loginsuccess" class="list-group-item list-group-item-action bg-light"><i class="fas fa-home" style="color:red"></i>   Home</a>
        <a href="/yourvideos" class="list-group-item list-group-item-action bg-light"><i class="fas fa-play-circle" style="color:red"></i>    Your Videos</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-fire" style="color:red"></i>    Trending</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fab fa-youtube-square" style="color:red"></i>     Subscriptions</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-play-circle" style="color:red"></i>   Library</a>
        <a href="#" class="list-group-item list-group-item-action bg-light"> <i class="fas fa-history" style="color:red"></i>   History</a>
        
      </div>
    </div>
    </div>
  </div>