<div>W</div>
<p>video-each works!</p>
<div class="style1">
<img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
</div>
<div class = "row">
<div class="col-7">
    <div>{{videoObject.videoTitle}}</div><br>
   </div>
   <div class="col-4">
        <button><i class="fas fa-thumbs-up"></i></button>
        <button><i class="fas fa-thumbs-down"></i></button>
        <button><i class="fas fa-share"></i></button>
   </div>
</div>
    {{videoObject.views}}
    {{"12th Feb 2021"}}



